/* Style général pour le corps de la page */
body {
    background-color: #000; /* Fond noir pour un effet rétro */
    color: #fff; /* Texte blanc pour contraster */
    font-family: 'Press Start 2P', cursive; /* Police rétro */
    margin: 0;
    padding: 0;
}

/* Style pour les conteneurs principaux */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

/* Style pour les boutons */
button {
    background-color: #ff0000; /* Couleur rouge vif */
    border: 2px ; /* Bordure blanche */
    border-color: white;
    color: #fff; /* Texte blanc */
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    background-color: #ff5555; /* Effet de survol */
}

/* Style pour les images */
img {
    image-rendering: pixelated; /* Rendu pixelisé pour les images */
}

/* Style pour les labels et textes */
.label {
    font-size: 18px;
    margin: 10px;
}

/* Style pour les zones de texte */
textarea {
    background-color: #333; /* Fond sombre */
    border: 2px; /* Bordure blanche */
    border-color: white;
    color: #fff; /* Texte blanc */
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    margin: 10px;
}

/* Style pour les alertes */
.alert {
    background-color: #ff0000; /* Fond rouge */
    border: 2px ; /* Bordure blanche */
    border-color: white;
    color: #fff; /* Texte blanc */
    padding: 20px;
    margin: 10px;
    font-family: 'Press Start 2P', cursive;
}
